doctype html
html
    head
        include ./_sections/head

    body
        img(src="assets/images/logo.png", alt="logo").logo
        h1 @babyoot
        
        .container
          .team
            h2.blue équipe bleue
            .input-block  
              input(type="text").player-id
              input(type="text").player-id
          .team
            h2.red équipe rouge
            .input-block
              input(type="text").player-id
              input(type="text").player-id
          
          .submit-container
            input(type="submit" value="APPELER LES JOUEURS")#call.action
            input(type="submit" value="DÉMARRER LA PARTIE")#start.action
            
        .game
          .score 10
          span -
          .score 10
          
          input(type="submit" value="ARRÊTER LA PARTIE")#stop.action
        

    //- Scripts
    script( src='assets/js/main.js' )
