doctype html
html
    head
        include ./_sections/head

    body
        img(src="assets/images/logo.png", alt="logo").logo
        h1 @babyoot
        
        .container
          .team
            h2.blue équipe bleue
            .input-block  
              input(type="text").player-id
              input(type="text").player-id
          .team
            h2.red équipe rouge
            .input-block
              input(type="text").player-id
              input(type="text").player-id
          
          .middle
          
          .submit-container
            input(type="submit" value="APPELER LES JOUEURS")#call.action
            input(type="submit" value="DÉMARRER LA PARTIE")#start.action
            
        .game
          .score.blue 
            span.number 0
            .change
              img(src="assets/images/minus.png", alt="change score").minus.blue
              img(src="assets/images/plus.png", alt="change score").plus.blue
          span -
          .score.red
            span.number 0
            .change
              img(src="assets/images/minus.png", alt="change score").minus.red
              img(src="assets/images/plus.png", alt="change score").plus.red
          
          
          
          input(type="submit" value="ARRÊTER LA PARTIE")#stop.action
        

    //- Scripts
    script( src='assets/js/main.js' )
