doctype html
html
    head
        include ./_sections/head

    body
        h1#title Title
        
        .container
          .team
            h2 Equipe Bleue
            input(type="text")
            input(type="text") 
          .team
            h2 Equipe Rouge
            input(type="text")
            input(type="text")
            
        

    //- Scripts
    script( src='assets/js/main.js' )
