doctype html
html
    head
        include ./_sections/head

    body
        h1#title Title
        
        .container
          .team
            h2 Equipe Bleue
            input(type="text").player-id
            input(type="text").player-id
          .team
            h2 Equipe Rouge
            input(type="text").player-id
            input(type="text").player-id
        
          input(type="submit" value="start")#start.action
          input(type="submit" value="call")#call.action
        

    //- Scripts
    script( src='assets/js/main.js' )
