doctype html
html
    head
        include ./_sections/head

    body
        img(src="assets/images/logo.png", alt="logo").logo
        h1 @babyfoot
        
        .container
          .team
            h2.blue équipe bleue
            .input-block
              div.input-wrapper  
                input(type="text").player-id
              div.input-wrapper
                input(type="text").player-id
          .team
            h2.red équipe rouge
            .input-block
              div.input-wrapper
                input(type="text").player-id
              div.input-wrapper
                input(type="text").player-id
          
          .middle
          
          .submit-container
            input(type="submit" value="APPELER LES JOUEURS")#call.action
            input(type="submit" value="DÉMARRER LA PARTIE")#start.action
            
        .game
          .score.blue 
            span.number 0
            .change
              img(src="assets/images/minus.png", alt="change score").minus.blue
              img(src="assets/images/plus.png", alt="change score").plus.blue
          span -
          .score.red
            span.number 0
            .change
              img(src="assets/images/minus.png", alt="change score").minus.red
              img(src="assets/images/plus.png", alt="change score").plus.red
          
          input(type="submit" value="ARRÊTER LA PARTIE")#stop.action
        
        .popin
          img(src="assets/images/cross.png", alt="fermer").cross
          .content
            .title
              img(src="assets/images/goal.png", alt="but").goal
              span BUT !
            .text
              img(src="assets/images/logo.png", alt="logo")
              span @babyfoot
              h2.punchline But ! Integer posuere erat @VincentVacher et @EmilandDC venenatis dapibus posuere velit aliquet nunc turat.
              
            
          
        

    //- Scripts
    script( src='assets/js/main.js' )
