.container
  height 100%
  width 100%
  position: relative

  // opacity: 0

  .middle
    position: absolute
    background: url("../images/middle.png")
    height: 210px
    width: 50px
    background-size: 100%
    background-repeat: no-repeat
    top: 70px
    left: 50%
    transform: translateX(-50%)
    transition: all 0.6s ease

  .team
    box-sizing border-box
    width 50%
    margin-top: 80px
    float left
    text-transform uppercase

    h2
      position relative
      text-align: center
      width: 250px
      margin: 0 auto 30px
      color: $green
      transition: all 0.6s ease
      font-weight: normal

      &.red
        &:before
          background-color: red
      &.blue
        &:before
          background-color: blue

      &:before
        content ""
        position absolute
        left 0px
        top 50%
        transform translateY(-50%)
        height 20px
        width 20px
        border-radius 10px
        box-sizing: border-box
        border: 3px solid white

    .input-block
      width: 50%
      margin: 0 auto
      padding-left: 20px
      position: relative;
      transition: all 0.6s ease

      .input-wrapper
        position: relative

        &:before//, &:after
          content: '@'
          color: $green
          position: absolute
          left: -40px
          top: 0px
          font-size: 30px
          font-family 'gotham-book'

      input
        display block
        background-color rgba(255, 255, 255, 0.5)
        -webkit-appearance none
        border none
        margin 0 0 30px
        padding 12px
        width: 100%
        box-sizing: border-box;
        border-radius 8px
        position relative

  .submit-container
    margin: 0 auto
    display: table
    transition: all 0.6s ease

    .action
      background-color: $green
      padding: 20px
      border: none
      border-radius: 6px
      font-family 'gotham-bold'
      margin-top: 80px

      &#call
        color: white
        background-color rgba(255, 255, 255, 0.7)
        margin-right: 45px
