@font-face
    font-family 'gotham-light'
    font-weight normal
    font-style normal
    src url( '../fonts/gotham-Light.eot' )
    src url( '../fonts/gotham-Light.eot?#iefix' ) format( 'embedded-opentype' ),
        url( '../fonts/gotham-Light.woff' ) format( 'woff' ),
        url( '../fonts/gotham-Light.ttf' ) format( 'truetype' )

@font-face
    font-family 'gotham-bold'
    font-weight normal
    font-style normal
    src url( '../fonts/gotham-Bold.eot' )
    src url( '../fonts/gotham-Bold.eot?#iefix' ) format( 'embedded-opentype' ),
        url( '../fonts/gotham-Bold.woff' ) format( 'woff' ),
        url( '../fonts/gotham-Bold.ttf' ) format( 'truetype' )

@font-face
    font-family 'gotham-book'
    font-weight normal
    font-style normal
    src url( '../fonts/gotham-Book.eot' )
    src url( '../fonts/gotham-Book.eot?#iefix' ) format( 'embedded-opentype' ),
        url( '../fonts/gotham-Book.woff' ) format( 'woff' ),
        url( '../fonts/gotham-Book.ttf' ) format( 'truetype' )

@font-face
    font-family 'gotham-medium'
    font-weight normal
    font-style normal
    src url( '../fonts/gotham-Medium.eot' )
    src url( '../fonts/gotham-Medium.eot?#iefix' ) format( 'embedded-opentype' ),
        url( '../fonts/gotham-Medium.woff' ) format( 'woff' ),
        url( '../fonts/gotham-Medium.ttf' ) format( 'truetype' )
